---
/**
 * Logo monogramme "JJ"
 * - Hérite de la couleur du texte parent (stroke="currentColor")
 * - Accepte class/style/... et les propage au <svg>
 */
const { title = 'Logo JJ', ...rest } = Astro.props;
const extraClass = rest.class ? String(rest.class) : '';
delete rest.class; // on évite un "class" en double
---

<svg
  viewBox="0 0 1024 1024"
  xmlns="http://www.w3.org/2000/svg"
  aria-hidden="true"
  width="40"
  height="40"
  class={`block ${extraClass}`}
  {...rest}
>
  <title>{title}</title>
  <g transform="translate(0.000000,1024.000000) scale(0.100000,-0.100000)"
fill="currentColor" stroke="none">
<path d="M4907 9356 c-48 -18 -71 -38 -94 -84 -17 -35 -18 -146 -23 -2562 -5
-2418 -6 -2528 -24 -2590 -50 -176 -148 -316 -263 -377 -151 -80 -285 -97
-702 -90 -348 6 -434 18 -566 81 -134 65 -210 167 -251 336 -16 66 -19 144
-23 645 -6 531 -7 573 -25 608 -22 45 -61 75 -123 93 -71 21 -968 20 -1040 -1
-58 -17 -103 -61 -124 -122 -20 -55 -20 -1232 -1 -1378 53 -399 181 -691 404
-921 190 -197 429 -329 731 -404 209 -52 304 -62 650 -67 314 -5 318 -5 311
-26 -6 -18 -355 -760 -538 -1142 -43 -88 -73 -155 -68 -150 12 13 153 256 542
930 449 779 792 1369 995 1710 95 160 333 567 530 905 197 338 423 728 503
865 80 138 203 349 274 470 l128 220 0 1476 0 1476 -23 33 c-12 19 -38 43 -57
54 -34 20 -51 21 -560 23 -425 2 -532 0 -563 -11z"/>
<path d="M8080 9278 c-118 -201 -681 -1181 -1023 -1779 l-387 -677 0 -2070 c0
-2269 3 -2156 -59 -2288 -58 -124 -152 -194 -309 -231 -68 -16 -128 -18 -542
-18 -414 0 -473 2 -535 18 -206 53 -311 160 -361 367 -15 64 -19 139 -23 507
l-6 432 -164 -287 c-140 -244 -754 -1323 -842 -1478 l-28 -50 46 -70 c65 -98
221 -251 326 -318 219 -143 476 -226 810 -261 116 -12 281 -15 799 -15 360 0
702 5 763 10 318 29 582 116 805 264 363 242 574 629 642 1176 10 83 13 636
13 2680 0 1416 -4 2592 -8 2613 -4 20 -22 53 -38 72 -46 52 -103 65 -280 65
l-148 0 35 83 c20 45 118 278 219 517 101 239 213 505 250 590 37 85 74 170
81 188 23 52 10 37 -36 -40z"/>
</g>
</svg>
